@model IEnumerable<DWTL.Models.Competition>
@{
    ViewBag.Title = "Competitions";
}
<h2>@ViewBag.Title.</h2>
<h3>@ViewBag.Message</h3>

<div class="row">
    <table>
        <tr>
            <td>
                @Html.ActionLink("Create Group", "CreateGroup")
            </td>
        </tr>
    </table>
</div>

<div class="row">
    
        @foreach (var item in Model)
        {
            <div class="col-md-4">
                <img src="http://placecorgi.com/260/180" />
                @item.Name
                @item.CompType
                @item.Members
                @Html.ActionLink("Edit", "Edit")
                @Html.ActionLink("Details", "Details")
                @Html.ActionLink("Delete", "Delete")
            </div>
        }
</div>




