@model DWTL.Models.DownUser
@{
    Layout = "~/Views/Shared/_DownLayout.cshtml";
}
@{
    ViewBag.Title = "My Profile";
}

<div>
    <h3>Hey @Model.FirstName @Model.LastName!</h3>
    <div class="row">
        <div class="col-lg-4 prof_pic">
            <img src="http://placecorgi.com/400/300" />

        </div>
        <div class="col-lg-5">
            <h4>@Model.Handle</h4>
            @Html.ActionLink("Edit", "EditProfile", new { id = Model.DownUserId }) |
            @Html.ActionLink("Back to Home", "Index")
        </div>
    </div>
</div>